/* ==========================
            HERO
========================== */

.hero{

    height:80vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    color:white;

    background:linear-gradient(135deg,#2563EB,#1E3A8A);

}

.hero-content{

    width:700px;

}

.hero h1{

    font-size:58px;

    margin-bottom:10px;

}

.hero h2{

    font-size:34px;

    margin-bottom:25px;

}

.hero p{

    font-size:18px;

    line-height:1.8;

    margin-bottom:40px;

}

.hero-buttons{

    display:flex;

    justify-content:center;

    gap:20px;

}

/* ==========================
          FEATURES
========================== */

.features{

    display:flex;

    justify-content:center;

    gap:30px;

    padding:70px 8%;

    background:#f8fafc;

}

.feature-card{

    width:320px;

    background:white;

    border-radius:15px;

    padding:35px;

    text-align:center;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

    transition:.3s;

}

.feature-card:hover{

    transform:translateY(-10px);

}

.feature-card h2{

    color:#2563EB;

    margin-bottom:15px;

}

.feature-card p{

    color:#555;

    line-height:1.7;

}

/* ==========================
            FOOTER
========================== */

footer{

    background:#1E3A8A;

    color:white;

    text-align:center;

    padding:20px;

}